* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font: system-ui, -apple-system, sans-serif;
        

}

body {
    color: black;
    line-height: 1.5;
    background-image: linear-gradient(to right, #ff6e2b, #2388e7);
   
}

header p{
    color: #d3d3d3;
    font-size: 16px;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 2px;
    background-color: #1a1919;
}
header h1 {
    color: #dfdfdf;
    font-size: 4.1rem;
}

header:hover{
    cursor: default;
}

header h2{
    color:#f8f8f8;
}
.letragradiente {
   background-image: linear-gradient(to right, #ff6e2b, #0095f8);
   -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.palavracoloridaum {
    color: rgb(255, 110, 43);
}

.palavracoloridadois {
    color: #279deb;
}


nav{
    font-size: 20px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 110, 43, 0.7);
    margin-bottom: 2rem;
}

nav ul{
    border-top: white, solid, 2px;
    list-style: none;
    display:flex;
    align-items: center;

}

nav li {
    padding: 0.5rem 40px;
    transition: 0.6s;
    font-size: 1.45rem;
}

nav a{
    color: white;
}

li:hover {
    background-color: #3a96ff;
    border-radius: 6px;
    font-size: 1.75rem;
}

.container {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    background-color: rgba(233,233,233,0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    transition: 0.6s;
}

.card:hover{
    transform:translateY(-4px);
    background-color: rgba(255, 255, 255, 0.65);

}

.card h2{
    border-bottom: 3px, solid #000000;
    text-align: center;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


a {        
    cursor: default;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

.image{
    width: 100px;
}

footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

